<form method = "GET" class = "selectCollection">
  <div>
    <label for="collection">Select a collection:</label>
    <select name="collection" id="collection">
      <option value="{{ collection }}">{{ collection }}</option>
      {% for collectionName in collectionNames %}
        {% if collectionName != collection %}
          <option value="{{ collectionName }}">{{ collectionName }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>