<form method="GET" class="selectCollection">
  <h3>Current Dataset: {{ collection }}</h4>
  <div style="display: flex; align-items: center;">
    <label for="collection">Select uploaded dataset:</label>
    <select name="collection" id="collection">
      <option value="{{ collection }}">{{ collection }}</option>
      {% for collectionName in collectionNames %}
        {% if collectionName != collection %}
          <option value="{{ collectionName }}">{{ collectionName }}</option>
        {% endif %}
      {% endfor %}
    </select>
      <button type="submit" class="btn btn-primary" style="margin-left: 7px;">Submit</button>
      <a href="{% url 'upload' %}" class="btn btn-primary" style="margin-left: 7px; display: inline-block;">Upload CSV</a>
  </div>
</form>

