[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
djongo = "==1.3.6"
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "==3.12.3"}

dnspython = "*"
certifi = "*"

plotly = "*"

pytz = "*" 
grpcio = "*"

pandas = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = "==2.11.1"
tensorflow-serving-api = "==2.11.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
