[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
dnspython = "*"
certifi = "*"
djongo = "==1.3.6"
pytz = "*" 
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "==3.12.3"}
pandas = "*"
plotly = "*"
scikit-learn = "*"
django-autocomplete-light = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
