[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dnspython = "*"
certifi = "*"
djongo = "*"
pytz = "*" 
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "==3.12.3"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
