{% extends 'appGeneral/components/base.html' %}
{% load static %}

{% block content %}
<section class = "contentSection">
    <h1 class = "homeLandingHeader">About</h1>
    <div id = "about">
        <h4>About CSSC</h4>
        <div id="aboutBox">
        <p>
            The CES Solar Cells Testing Center (CSSC) is basically come from Clean Energy Systems (CES) Group of King Mongkut's University of Technology Thonburi (KMUTT). The origin of the CES Group can be traced back nearly four decades earlier on graduate programs and research works in energy technology founded in 1977 after the oil crises in late the 1970s. CSSC is a laboratory under Pilot plant development and Training Institute (PDTI) and R&D Cluster of KMUTT. CSSC had been funded by the Department of Alternative Energy Development and Efficiency (DEDE) - Ministry of Energy and Energy Conservation Fund. CSSC was established and supported by KMUTT since January 2006. Academic member and management team come from the School of Energy, Environment and Materials, Faculty of Engineering and Pilot Plant Development and Training Institute (PDTI) of KMUTT.
        </p>
        <p>
            CSSC is a testing laboratory according to ISO/IEC17025:2005, TLAS accredited testing laboratory No. TESTING 0343 since November 2012. CSSC is also certify to ISO9001:2015 for Provision of Testing and Training for Photovoltaic Systems and Renewable energy.
        </p>
        </div>
        
        <h4>About Website</h4>
        <div id="aboutBox">
        <p>
            PVCell Nowcasting is website for predicting the power generation of photovoltaic cells using collected data from CSSC. This website is developed by the students of KMUTT for the final project of Computer Engineering course.
        </p>
        </div>
        
        <h4>Contacts</h4>
        <div>
        <p>
            CES Solar Cells Testing Center (CSSC)<br>
            King Mongkut's University of Technology Thonburi (KMUTT)<br>
            49 Soi Thian Thale 25,<br>
            Bang Khun Thian Chai Thale Road,<br>
            Tha Kham,Bang Khun Thian, Bangkok 10150, Thailand<br>
            Email: ces@kmutt.ac.th<br>  
            Tel.: +662 470 7445 - 49<br> 
            Fax: +662 470 7445 
        </p> 
        </div>
        
    </div>	
</section>
{% endblock %}