{% extends 'appGeneral/components/base.html' %}

{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
<section class="contentSection">
  <h1>Database</h1>
  {% include 'appData/components/selectDatabase.html' %}
  {% include 'appData/components/selectDate.html' %}
  {% render_table PVCellTable %}
  <form class="dropDatabase" action="{% url 'drop-collection' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="delete_data" value="{{ collection }}">
    <input type="submit" value="Drop Collection" class="btn btn-danger" onclick="return confirmDrop();">
  </form>
  <!--<a class="btn btn-primary">Manage Collection</a>-->
  <!--<a href="{% url 'upload' %}" class="btn btn-primary">Upload CSV</a>-->
  <!-- {% if isFiltered != None %}
        {% if data.has_other_pages %}
          
          <div class="pagination" id="dataIndex">
          {% if data.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ data.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current-page">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
          </span>

          {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">Next</a>
            <a href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
          {% endif %}
          </div>
        {% endif %}
      {% endif %} -->

  <button class="btn btn-primary" onclick="showHelp()" id="floating-button">Help</button>
  <div class="popup">
    <button id="close"></button>
    <h2>Help</h2>
    <h4>Data Page: Features</h4>
    <p><strong>Select dataset:</strong> You can select the available dataset from dropdown list and submit to view data. You can select the page you want from the pagination at the bottom</p>
    <p><strong>Filter data by date:</strong> You can also select the date range to filter the data and submit to view the result.</p>
    <p><strong>Upload new dataset:</strong> You can upload the data by clicking "Upload" button. Then, you will be redirect to upload page to select the file. You can only submit with csv file with same field name as shown in Admin datasets. When you finished selecting the file you can name the datset name or use the default name by submitting without typing anything.</p>
    <p><strong>Delete dataset:</strong> You can delete the dataset by clicking "Drop Collection" button. You will be asked to confirm the action.</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    const form = document.querySelector('form');
    const startdate = document.querySelector('#startdate');
    const enddate = document.querySelector('#enddate');

    form.addEventListener('submit', function (event) {
      if (enddate.value < startdate.value) {
        event.preventDefault();
        alert('The end date must be later than the start date.');
      }
    });

    function confirmDrop() {
      if (document.getElementById("collection").value == "Admin") {
        alert("You cannot drop the Admin collection!");
        return false;
      }
      else { 
        return confirm("Are you sure you want to drop this collection?");
      }
    }

    function showHelp() {
      console.log("Showing help");
      var helpMenu = document.getElementById("helpMenu");
      if (helpMenu.style.display === "none") {
        helpMenu.style.display = "block";
        document.addEventListener("click", hideHelpOnClickOutside);
      } else {
        helpMenu.style.display = "none";
        document.removeEventListener("click", hideHelpOnClickOutside);
      }
    }

    function hideHelpOnClickOutside(event) {
      var helpMenu = document.getElementById("helpMenu");
      if (!helpMenu.contains(event.target)) {
        helpMenu.style.display = "none";
        document.removeEventListener("click", hideHelpOnClickOutside);
      }
    }

    document.querySelector("#floating-button").addEventListener("click", function () {
      document.querySelector(".popup").style.display = "block";
    });

    document.querySelector("#close").addEventListener("click", function () {
      document.querySelector(".popup").style.display = "none";
    });

    /*$(function() {
      $("#collection").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "/autocomplete/collection/",
            data: { term: request.term },
            success: function(data) {
              response(data);
            }
          });
        },
        minLength: 2
      });
    });*/

    /*$(document).on('click', '.pagination a', function(event) {
      event.preventDefault();
      var url = $(this).attr('href');
      $.ajax({
        url: url,
        success: function(data) {
          $('#dataTable').html(data);
        }
      });
    });*/

    /*$(document).ready(function() {
      $('form').on('submit', function(event) {
        event.preventDefault();
        var startdate = $('#startdate').val();
        var enddate = $('#enddate').val();
        $.ajax({
          url: '/data',
          type: 'GET',
          data: { startdate: startdate, enddate: enddate },
          success: function(data) {
            $('#dataTable').html(data);
            alert(startdate);
          },
          error: function() {
            alert('An error occurred while filtering data.');
          }
        });
      });
    });*/

    /*var isFiltered = '{{isFiltered}}';
    if(isFiltered == 'true') {
      $(document).on('click', '.pagination a', function(event) {
      event.preventDefault();
      var url = $(this).attr('href');
      $.ajax({
        url: url,
        success: function(data) {
          $('#dataTable').html(data);
          alert("filterwork somehow");
        }
      });
    });
      //$('#dateForm').hide();
    }*/
  </script>

</section>
{% endblock %}