{% extends 'appGeneral/components/base.html' %}
{% load static %}

{% block content %}
<section class = "contentSection">
    <h1>Uploaded Data</h1>
    
    <h4 style="margin-top: 10px; margin-left: 10px;">Select Date</h4>
    <div id="dateForm">
      <form>
          <div class="dateGroup">
              <label for="startdate">Start</label>
              <input type="date" class="form-control" id="startdate" name="startdate" value="2021-11-23" value="{{ startdate }}">
              <label for="enddate">End</label>
              <input type="date" class="form-control" id="enddate" name="enddate" value="2021-11-24" value="{{ enddate }}">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <table class="table table-striped table-bordered" id="dataTable">
        <thead>
          <tr>
            <th>Datetime</th>
            <th>Temperature</th>
            <th>Irradiance</th>
            <th>W</th>
            <th>VA</th>
            <th>VAR</th>
            <th>Cloud Cover</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
              {% if i.minute >= 10 %}
                <td>{{ i.year }}/{{ i.month }}/{{ i.day }} {{ i.hour }}:{{ i.minute }}</td>
              {% else %}
                <td>{{ i.year }}/{{ i.month }}/{{ i.day }} {{ i.hour }}:0{{ i.minute }}</td>
              {% endif %}
              <td>{{ i.Tm }}</td>
              <td>{{ i.Irradiance }}</td>
              <td>{{ i.W }}</td>
              <td>{{ i.VA }}</td>
              <td>{{ i.Var }}</td>
              <td>{{ i.cloud_cover }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          $('form').on('submit', function(event) {
            event.preventDefault();
            var startdate = $('#startdate').val();
            var enddate = $('#enddate').val();
            $.ajax({
              url: '/data',
              type: 'GET',
              data: { startdate: startdate, enddate: enddate },
              success: function(data) {
                $('#dataTable').html(data);
                alert(startdate);
              },
              error: function() {
                alert('An error occurred while filtering data.');
              }
            });
          });
        });
      </script>

</section>
{% endblock %}