{% extends 'appGeneral/components/base.html' %}
{% load static %}

{% block content %}
<section class = "contentSection">
    <h1 style="display: inline-block;">Uploaded Data</h1>
    <h3 style="margin-top: 10px; margin-left: 10px;">Current Data: {{ selected_collection }}</h4>

    {% include 'appData/components/selectDatabase.html' %}
    <!-- <form method="GET" class="selectCollection" style="margin-left: 20px;">
      <label for="collection">Select a collection:</label>
      <select name="collection" id="collection">
        <option value="{{ selected_collection }}">{{ selected_collection }}</option>
          {% for collection_name in collection_names %}
          {% if collection_name != selected_collection %}
          <option value="{{ collection_name }}">{{ collection_name }}</option>
          {% endif %}
          {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary" style="margin-left: 7px;">Submit</button>
  </form> -->
    <h4 style="margin-top: 10px; margin-left: 10px;">Select Date</h4>
    <div id="dateForm">
      <form>
          <div class="dateGroup">
              <input type="hidden" name="collection" value="{{ selected_collection }}">
              <label for="startdate">Start</label>
              <input type="date" class="form-control" id="startdate" name="startdate" value="2021-11-23" value="{{ startdate }}">
              <label for="enddate">End</label>
              <input type="date" class="form-control" id="enddate" name="enddate" value="2021-11-24" value="{{ enddate }}">
              <button type="submit" class="btn btn-primary" id="greenbtn" style="margin-left: 7px;">Apply</button>
          </div>
      </form>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Datetime</th>
            <th>Temperature (℃)</th>
            <th>Irradiance (W/&#13217;)</th>
            <th>Real Power (W)</th>
            <th>Apparent Power (VA)</th>
            <th>Reactive Power (VAR)</th>
            <th>Cloud Cover (Ratio)</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
              <!--<td>{{ i.datetime }}</td>-->
              <td>{{ i.datetime|date:'d M Y H:i' }}</td>
              <td>{{ i.Tm }}</td>
              <td>{{ i.Irradiance }} </td>
              <td>{{ i.W  }}</td>
              <td>{{ i.VA  }}</td>
              <td>{{ i.Var }}</td>
              <td>{{ i.cloud_cover }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form action="{% url 'drop-collection' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="delete_data" value="{{ selected_collection }}">
        <input type="submit" value="Drop Collection"  class="btn btn-danger" onclick="return confirmDrop();">
      </form>
      <!--<a class="btn btn-primary">Manage Collection</a>-->
      <!--<a href="{% url 'upload' %}" class="btn btn-primary">Upload CSV</a>-->
      {% if isFiltered != None %}
        {% if data.has_other_pages %}
          
          <div class="pagination" id="dataIndex">
          {% if data.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ data.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current-page">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
          </span>

          {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">Next</a>
            <a href="?page={{ data.paginator.num_pages }}">Last &raquo;</a>
          {% endif %}
          </div>
        {% endif %}
      {% endif %}
      
      <button class="btn btn-primary" onclick="showHelp()" id="floating-button">Help</button>
      <div class="popup">
        <button id="close"></button>
        <h2>Help</h2>
        <h4>Data Page: Features</h4>
        <p>On this page, you can view the data that you have uploaded to the database. You can also select a date range to filter the data.</p>
        <p>You can also upload new data with csv file and delete the collection on this page</p>
    </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        
        const form = document.querySelector('form');
        const startdate = document.querySelector('#startdate');
        const enddate = document.querySelector('#enddate');

        form.addEventListener('submit', function(event) {
          if (enddate.value < startdate.value) {
            event.preventDefault();
            alert('The end date must be later than the start date.');
          }
        });

        function confirmDrop() {
          return confirm("Are you sure you want to drop this collection?");
        }
        
        function showHelp() {
          console.log("Showing help");
          var helpMenu = document.getElementById("helpMenu");
          if (helpMenu.style.display === "none") {
            helpMenu.style.display = "block";
            document.addEventListener("click", hideHelpOnClickOutside);
          } else {
            helpMenu.style.display = "none";
            document.removeEventListener("click", hideHelpOnClickOutside);
          }
        }

        function hideHelpOnClickOutside(event) {
          var helpMenu = document.getElementById("helpMenu");
          if (!helpMenu.contains(event.target)) {
            helpMenu.style.display = "none";
            document.removeEventListener("click", hideHelpOnClickOutside);
          }
        }

        document.querySelector("#floating-button").addEventListener("click", function(){
          document.querySelector(".popup").style.display = "block";
        });

        document.querySelector("#close").addEventListener("click", function(){
          document.querySelector(".popup").style.display = "none";
        });

        /*$(function() {
          $("#collection").autocomplete({
            source: function(request, response) {
              $.ajax({
                url: "/autocomplete/collection/",
                data: { term: request.term },
                success: function(data) {
                  response(data);
                }
              });
            },
            minLength: 2
          });
        });*/

        /*$(document).on('click', '.pagination a', function(event) {
          event.preventDefault();
          var url = $(this).attr('href');
          $.ajax({
            url: url,
            success: function(data) {
              $('#dataTable').html(data);
            }
          });
        });*/

        /*$(document).ready(function() {
          $('form').on('submit', function(event) {
            event.preventDefault();
            var startdate = $('#startdate').val();
            var enddate = $('#enddate').val();
            $.ajax({
              url: '/data',
              type: 'GET',
              data: { startdate: startdate, enddate: enddate },
              success: function(data) {
                $('#dataTable').html(data);
                alert(startdate);
              },
              error: function() {
                alert('An error occurred while filtering data.');
              }
            });
          });
        });*/
        
        /*var isFiltered = '{{isFiltered}}';
        if(isFiltered == 'true') {
          $(document).on('click', '.pagination a', function(event) {
          event.preventDefault();
          var url = $(this).attr('href');
          $.ajax({
            url: url,
            success: function(data) {
              $('#dataTable').html(data);
              alert("filterwork somehow");
            }
          });
        });
          //$('#dateForm').hide();
        }*/
      </script>

</section>
{% endblock %}