<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Wanna & Wit">
		<title>Nowcasting</title>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>

		<div id="header">
			<div class="topnav">
				<a class="home" href="index.html">Nowcasting<i class="fa fa-fw fa-sun-o"></i></a>
				<a href="index.html">Data</a>
				<a href="index.html">Model</a>
				<a href="index.html">Predict</a>
				<a href="index.html">User</a>
				<div class="topnav-right">
				  <a class="login" href="index.html">Login<i class="fa fa-fw fa-user"></i></a>
				</div>
			</div>
		</div> <!-- Header -->	
		<div id="container">
				<div id="main">
					<h2>Topic</h2>
					<img src="images/book.jpg" alt="book" class="alignright">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illum, impedit dolore aperiam soluta numquam facere quis temporibus amet ullam, molestiae minima assumenda dolorum exercitationem ex ut accusamus consequuntur iure?</p>
				</div> <!-- Main -->
			
				<div class="clear"></div>
			
		</div>

	</body>
</html>