/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/
.site {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
     /* Firexfox */
     -webkit-box-sizing: border-box;
     /* Safari/Chrome/iOS/Android */
     box-sizing: border-box;
     /* IE */
}

h1,
h2,
h3,
h4,
h5,
h6 {
     color: rgb(17, 145, 188);
     font-weight: 700;
     line-height: 1.4;
     margin-top: 0px;
     margin-bottom: 16px;
}

h1 {
     font-size: 64px;
}

h2 {
     font-size: 48px;
}

h3 {
     font-size: 32px;
}

h4 {
     font-size: 28px;
}

h5 {
     font-size: 24px;
}

h5.footer{
     color: black;
     padding-top: 16px;
}

h6 {
     font-size: 20px;
}

body {
     height: 100%;
     background: url('images/notebook.png');
     /* add a fallback color of #d6d6d6 */
     color: #000000;
     font-family: 'Lato', 'Noto Sans', sans;
     line-height: 1.7;
     min-height: 100vh;
     /* line-height is unit-less */
     font-size: 100%;
     margin: 0px;
}

.clear {
     clear: both;
}

b,
strong {
     font-weight: bold;
}

/* Site header */
.siteHeader {
     z-index: 1;
     background-color: rgb(17, 145, 188);
     box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     display: flex;
     justify-content: flex-start;
     height: 64px;
     position: fixed;
     /* Set the navbar to fixed position */
     top: 0;
     /* Position the navbar at the top of the page */
     width: 100%;
     /* Full width */
}

.siteHeader a {
     color: #111111;
     background-color: rgba(0, 0, 0, 0);
     font-size: 18px;
     font-weight: 700;
     display: flex;
     align-items: center;
     padding: 14px 16px;
     /* margin-left: 16px; */
     text-decoration: none;
     transition: background-color 300ms;
}

.siteHeader a:hover {
     background-color: dodgerblue;
}

.siteHeader a:active {
     background-color: #579BB1;
     color: white;
}

.siteHeader a.rightmost {
     margin-left: auto;
}

.siteHeader a.login {
     background-color: #333333;
     color: #579BB1;
     justify-content: flex-end;
}

/* Site Footer */
.siteFooter {
     z-index: 1;
     background-color: rgb(17, 145, 188);
     text-align: center;
     margin-top: auto;
     padding: 8px;
     width: 100%;
}

.siteFooter a {
     color: aquamarine;
     text-decoration: none;
     padding: 14px 16px;
}

.siteFooter p.copyright {
     font-size: 14px;
}

/* Home */
.homeLanding {
     position: relative;
     background-color: whitesmoke;
     min-height: 70vh;
     max-height: 90vh;
     max-width: 100vw;
     padding: 10vh 10vw;
     flex-grow: 1;
}

.homeLandingHeader {
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
     margin-top: 0px;
     margin-bottom: 24px;
}

.homeLandingText {
     color: whitesmoke;
     font-size: 24px;
     font-weight: 700;
}

/* Content */
.contentSection {
     background-color: whitesmoke;
     min-height: 70vh;
     max-width: 100vw;
     padding: 10vh 10vw; 
     flex-grow: 1;
}

.logined {
     background-color: whitesmoke;
     min-height: 70vh;
     max-height: 90vh;
     max-width: 100vw;
     padding: 10vh 10vw;
     flex-grow: 1;
}

.mockupImage {
     width: 100%;
     height: 100%;
     max-width: 70vw;
     min-height: 40vh;
     max-height: 60vh;
     display: block;
     margin: 0px auto;
}

.fullImage {
     width: 100%;
     max-width: 70vw;
     display: block;
     margin: 0px auto;
}

.graph{
     width: 70vw;
     height: 60vh;
     min-width: 700px;
     min-height: 600px;
     margin: 0 auto;
}

/* Login */
.loginWrapper {
     background-color: whitesmoke;
     display: block;
     width: 30vw;
     position: absolute;
     left: 50%;
     top: 40%;
     transform: translate(-50%, -50%);
     text-align: center;
     padding-top: 16px;
     padding-bottom: 16px;
     border-radius: 4px;
     box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.loginWrapper input {
     display: block;
     box-sizing: border-box;
     width: 90%;
     outline: none;
     height: 60px;
     line-height: 60px;
     border-radius: 4px;
     margin-left: 16px;
}

.loginWrapper input[type="text"],
input[type="password"] {
     padding-left: 16px;
     color: grey;
     border: 1px solid #c2c0ca;
     font-style: normal;
     font-size: 16px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     position: relative;
     display: inline-block;
     background: none;
}

.loginWrapper input[type="text"]:focus,
input[type="password"]:focus {
     border: 3px solid #3ca9e2;
}

.loginWrapper input[type="submit"] {
     margin-top: 16px;
     border: none;
     display: block;
     background-color: #3ca9e2;
     color: whitesmoke;
     font-weight: bold;
     text-transform: uppercase;
     cursor: pointer;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
     font-size: 18px;
     position: relative;
     display: inline-block;
     cursor: pointer;
     text-align: center;
}

.loginWrapper input[type="submit"]:hover {
     background-color: #329dd5;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
}

#greenbtn {
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

.buttonWrapper {
     display: flex;
     justify-content: right;
     margin-top: 16px;
     margin-bottom: 16px;
}

.buttonWrapper button {
     margin-right: 10px;
     border: none;
}

.selectCollection {
     margin-bottom: 15px;
}

.selectCollection select {
     font-size: 16px;
     padding: 6px;
     border: 1px solid #ccc;
     border-radius: 4px;
}
   
/* style the label element */
.selectCollection label {
     font-size: 16px;
     margin-right: 10px;
}
   
/* style the submit button */
.selectCollection button[type="submit"] {
     font-size: 16px;
     padding: 6px 12px;
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
   
/* style the selected option */
.selectCollection option[selected] {
     background-color: #4CAF50;
     color: white;
}

.dateGroup {
     display: flex;
     margin-bottom: 16px;
}

.dateGroup label {
     font-size: 16px;
     min-width: 80px;
     display: flex;
     align-items: center;
}

.dateGroup input {
     margin-right: 12px;
}

#dateForm {
     display: flex;
     justify-content: left;
     margin-bottom: 16px;
}

.dropDatabase {
     display: flex;
     justify-content: center;
     margin-bottom: 16px;
}

th {
     border-bottom: 1px solid #000000; /* add a 1px solid grey border to the bottom of each th element */
     background-color: #6fa3fe9c;
}

.table {
     font-size: 16px;
     font-family: 'Noto Sans';
}

.table-striped.table-bordered tbody tr:nth-of-type(odd) {
     background-color: #ffffff; /* sets the background color of odd rows to grey */
}
.table-striped.table-bordered tbody tr:nth-of-type(even) {
     background-color: #cde0ff; /* sets the background color of even rows to grey */
}

.pagination {
     display: flex;
     justify-content: center;
     margin-top: 60px;
   }
   
.pagination a {
     color: #333;
     background-color: rgb(17, 145, 188);
     display: inline-flex;
     padding: 12px 16px; /* increase the padding to make the font bigger */
     font-size: 18px;
     text-decoration: none;
     transition: background-color 0.3s;
     width: 120px;
     justify-content: center;
}

.pagination a:hover {
     background-color: dodgerblue;
}

.pagination .current-page {
     background-color: rgb(17, 145, 188);
     color: #fff; /* set the text color to white */
     display: inline-block; /* set to display as inline block */
     padding: 12px 16px; /* increase the padding to make the font bigger */
     font-size: 18px; /* increase the font size */
     font-weight: bold;
     /*margin-left: 5px;*/
     /*margin-right: 5px;*/ /* reduce the margin to center the page numbers with the next/previous links */
}

#uploadLabel {
     font-size: 1.5rem; /* change the font size to 1.5rem */
 }
 
 .form-box {
     background-color: #ddd; /* set the background color */
     padding: 20px; /* set the padding */
     border: 1px solid #ffffff00; /* set the border */
     border-radius: 10px; /* set the border radius */
 }

 #floating-button {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: darkblue;
     color: white;
     font-size: 20px;
     padding: 10px 20px;
     border-radius: 50%;
}

/*.spinner {
     border: 8px solid #f3f3f3;
     border-top: 8px solid #3498db;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     animation: spin 2s linear infinite;
   }
   
@keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
}*/
   

   
/*ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgb(17, 145, 188);
     position: sticky;
     top: 0;
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }*/

/* Change the link color to #111 (black) on hover */
li a:hover {
     background-color: rgb(116, 201, 210);
}

/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
#home h1 {
     vertical-align: middle;
}

#home img {
     vertical-align: middle;
}

#container {
     width: 1500px;
     margin: 0 auto 0 auto;
}

#header {
     margin: 0px;
}

#main {
     background: white;
     padding: 100px;
     width: 1200px;
     float: center;
     margin: auto;
}

#sidebar {
     background: white;
     border: lightgray;
     width: 300px;
     height: 800px;
     float: left;
     padding: 50px;
}

#footer {
     background: lightblue;
     width: 700px;
     padding: 5px;
}

/*----------------------------------------------------------------------------- 
03=Unique Element
-----------------------------------------------------------------------------*/
/*Popup test*/
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
     background-color: #ffffff;
     width: 820px;
     height: 550px;
     padding: 30px 40px;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     border-radius: 8px;
     font-family: "Poppins",sans-serif;
     display: none; 
     text-align: center;
     margin: auto;
     z-index: 999;
 }
 .popup button {
     position: relative;
     display: block;
     margin: 0 0 20px auto;
     background-color: transparent;
     font-size: 30px;
     color: #ffffff;
     background: #03549a;
     border-radius: 100%;
     width: 40px;
     height: 40px;
     border: none;
     outline: none;
     cursor: pointer;
   }
   
   .popup button::before {
     content: "\00d7";
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
   

 .popup h2{
      margin-top: -20px;
 }
 .popup p{
     font-size: 14px;
     text-align: justify;
     margin: 20px 0;
     line-height: 25px;
 }


 #graph-container {
     width: 75%;
     height: 60%;
 }
 