<table class="table">
    <caption>Feature List</caption>
    <thead>
        <tr>
            <th>Feature</th>
            <th>Unit</th>
            <th>Definition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- 'Irradiance', 'W/㎡', 'ความเข้มการแผ่รังสี' -->
            <td>Irradiance</td>
            <td>W/㎡</td>
            <td>ความเข้มการแผ่รังสี</td>
        </tr>
        <tr>
            <!-- 'Tm', '°C', 'อุณหภูมิ' -->
            <td>Tm</td>
            <td>°C</td>
            <td>อุณหภูมิ</td>
        </tr>
        <!-- 'Vdc', 'V', 'แรงดันไฟฟ้า (กระแสตรง)' -->
        <tr>
            <td>Vdc</td>
            <td>V</td>
            <td>แรงดันไฟฟ้า (กระแสตรง)</td>
        </tr>
        <!-- 'Idc', 'A', 'กระแสไฟฟ้า (กระแสตรง)' -->
        <tr>
            <td>Idc</td>
            <td>A</td>
            <td>กระแสไฟฟ้า (กระแสตรง)</td>
        </tr>
        <!-- 'kWdc', 'W', 'กำลังไฟฟ้า (กระแสตรง)' -->
        <tr>
            <td>kWdc</td>
            <td>W</td>
            <td>กำลังไฟฟ้า (กระแสตรง)</td>
        </tr>
        <!-- 'Iac', 'A', 'กระแสไฟฟ้า (กระแสสลับ)' -->
        <tr>
            <td>Iac</td>
            <td>A</td>
            <td>กระแสไฟฟ้า (กระแสสลับ)</td>
        </tr>
        <!-- 'Vln', 'V', 'แรงดันไฟฟ้าขาเข้า' -->
        <tr>
            <td>Vln</td>
            <td>V</td>
            <td>แรงดันไฟฟ้าขาเข้า</td>
        </tr>
        <!-- 'VA', 'W', 'กำลังไฟฟ้าปรากฎ' -->
        <tr>
            <td>VA</td>
            <td>W</td>
            <td>กำลังไฟฟ้าปรากฎ</td>
        </tr>
        <tr>
            <!-- 'W', 'W', 'กำลังไฟฟ้าจริงที่ผลิตได้' -->
            <td>W</td>
            <td>W</td>
            <td>กำลังไฟฟ้าจริงที่ผลิตได้</td>
        </tr>
        <!-- 'Var', 'W', 'กำลังไฟฟ้ารีแอคทีฟ' -->
        <tr>
            <td>Var</td>
            <td>W</td>
            <td>กำลังไฟฟ้ารีแอคทีฟ</td>
        </tr>
        <!-- 'pf', '-', 'Power factor' -->
        <tr>
            <td>pf</td>
            <td>-</td>
            <td>Power factor</td>
        </tr>
        <!-- 'cloud_cover', '%', 'ปริมาณเมฆปกคลุมท้องฟ้า' -->
        <tr>
            <td>cloud_cover</td>
            <td>%</td>
            <td>ปริมาณเมฆปกคลุมท้องฟ้า</td>
        </tr>
    </tbody>
</table>