<div id="header">
    <div class="siteHeader">
        <a href="{% url 'homeLogined' %}">Nowcasting<i class="fa fa-fw fa-sun-o"></i></a>
        <a href="{% url 'data' %}">Data</a>
        <a href="{% url 'modelOverview' %}">Model</a>
        <a href="{% url 'predict' %}">Predict</a>
        {% if request.user.is_superuser %}
        <a href="/admin">User</a>
        {% endif %}
        <a class="user rightmost" href=""><i class="fa fa-fw fa-user" aria-hidden="true"></i>{{request.user.username}}</a>
        <a class="login" href="{% url 'logout' %}">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a>

    </div>
</div> <!-- Header -->